<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1,muximum-scale=1">-->
    <title></title>
    <link rel="stylesheet" href="static/css/layout.css"/>

</head>
<body>


<div id="main-view">
    <div class="content">
    </div>
</div>

<div id="detail-view">
    <div class="content">
    </div>
</div>

<script src="static/lib/underscore.js"></script>
<script src="static/lib/event_emitter.js"></script>
<script src="static/lib/zepto.min.js"></script>
<script src="static/dispatchers/news_dispatcher.js"></script>
<script src="static/view_collection/news_collection_view.js"></script>
<script src="static/views/news_view.js"></script>
<script src="static/models/news.js"></script>
</body>
</html>
